<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <title>Artemis | Cactus y Suculentas</title>
</head>
<body>
    
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img src="../assets/img/artemis-logo-color.png" alt="logo" width="100px">Artemis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./cactus.html">Cactus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./suculentas.html">Suculentas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tierra y sustratos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Maceteros</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
        </div>
    </nav>

    <!--MAIN -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Origen</h2>
                <p class="text">Las plantas suculentas (del latín succulentus, que significa: "jugoso" o "sustancioso") o crasas son aquellas en las que algún órgano está especializado en el almacenamiento de agua en cantidades mayores que las plantas sin esta adaptación.</p>
                <p class="text">Las plantas suculentas no están filogeneticamente relacionadas entre sí, sino que han desarrollado independientemente rasgos similares en un proceso de evolución convergente.</p>
                <p class="text">Las suculentas son plantas resistentes a la sequía, ya que las hojas, tallo y raíces se han vuelto más "carnosos" debido al desarrollo de tejido de almacenamiento de agua. La adaptación de las suculentas les permite colonizar entornos áridos o en los que la captación de agua es limitada, aquellos que reciben poca competencia por parte de otras especies vegetales y en los que los herbívoros son escasos. Para que la captación de la escasa humedad presente en el ambiente sea posible, muchas suculentas son pubescentes, es decir, presentan una superficie cubierta de pelillos que retienen el rocío matutino. Otras técnicas empleadas para maximizar la retención de la humedad son la reducción de la superficie en comparación con el volumen de la planta, con lo cual se limita el número de ramificaciones y la longitud de estas, así como el desarrollo de recubrimientos pruinosos en la superficie de hojas y tallos</p>
                <h2>Taxonomía</h2>
                <p class="text">Debido a que las suculentas no son un grupo taxonómico fijo, hay miles de especies de suculentas clasificadas en diferentes familias. La mayoría de estas plantas pertenecen a las aizoáceas, a las cactáceas, a las crasuláceas y a las euforbiáceas, con más de mil especies cada una.</p>
                <p class="text">El problema que encontramos al estudiar la taxonomía de las plantas suculentas es que continuamente se encuentran nuevas especies o se hibridan unas con otras, por lo que no existe una definitiva clasificación de especies y a veces lo que se consideraba un género, pasa a ser familia o a integrarse en otra subfamilia.</p>
                <p class="text">Tampoco debes extrañarte si ves que una familia que puedes considerar que está compuesta por plantas suculentas, a su vez tiene géneros de plantas que no son en ningún caso consideradas suculentas. Por ejemplo, es el caso de la Familia Agavaceae, donde se incluyen los géneros de ágaves y a su vez los géneros de hostas, cuando no son plantas parecidas en ningún aspecto.</p>
                <p class="text">En cuanto al origen de las suculentas, podemos decir que prácticamente se encuentran en hábitats a lo largo de todo el mundo. Si bien es cierto que en su estado natural las encontraremos en zonas de escasez de agua, muchas de ellas se han naturalizado en zonas geográficas donde antes no se encontraban.</p>
                <p class="text">La globalización y el desarrollo humano, las han dispersado por todo el planeta y muchas están a fácil disposición para que las disfrutemos en nuestras terrazas y jardines.</p> 
            </div>
            
            <div class="col-6 col-md-4 text-center">
                <img src="../assets/img/Echeveria-chihuahuensis.jpg" class="rounded mx-auto d-block" width="300px" alt="Imagen Echeveria Chihuahensis">
                <p><small class="text-muted">Echeveria Chihuahensis</small></p> 
                <img src="../assets/img/Delosperma-Lehmannii.jpg" class="rounded mx-auto d-block" width="300px" alt="Imagen Delosperma de Lehman">
                <p><small class="text-muted">Delosperma de Lehman</small></p> 
                <img src="../assets/img/Crassula de fuego.jpg" class="rounded mx-auto d-block" width="300px" alt="Crassula de fuego">
                <p><small class="text-muted">Crassula de fuego</small></p> 
                <img src="../assets/img/haworthia-attenuata.jpg" class="rounded mx-auto d-block" width="300px" alt="Imagen Haworthia attenuata">
                <p><small class="text-muted">Haworthia attenuata</small></p> 
            </div>
        </div>


        <h2>Familias</h2>
        <!-- <table class="table text-center shadow-sm p-3 mb-5 bg-body rounded"> -->
        <table class="table shadow-sm">
            <thead>
                <tr>
                    <th scope="col ">Familia</th>
                    <th scope="col">N° de especies</th>
                    <th scope="col">Órgano suculento</th>
                    <th scope="col">Distribución</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row ">Agavaceae</th>
                    <td>300</td>
                    <td>Hojas</td>
                    <td>América Central y del Norte</td>
                </tr>
                <tr>
                    <th scope="row">Aizoaceae</th>
                    <td>2000</td>
                    <td>Hojas</td>
                    <td>Sur de África</td>
                </tr>
                <tr>
                    <th scope="row">Apocynaceae</th>
                    <td>500</td>
                    <td>Tallo</td>
                    <td>África, península arábiga, India</td>
                </tr>
                <tr>
                    <th scope="row">Asphodelaceae</th>
                    <td>500</td>
                    <td>Hojas</td>
                    <td>África, Madagascar</td>
                </tr>
                <tr>
                    <th scope="row">Cactaceae</th>
                    <td>1600</td>
                    <td>Tallo</td>
                    <td>América</td>
                </tr>
                <tr>
                    <th scope="row">Crassulaceae</th>
                    <td>1300</td>
                    <td>Hojas</td>
                    <td>Todo el mundo</td>
                </tr>
                <tr>
                    <th scope="row">Didiereaceae</th>
                    <td>11</td>
                    <td>Tallo</td>
                    <td>Madagascar</td>
                </tr>
                <tr>
                    <th scope="row">Euphorbiaceae</th>
                    <td>>1000</td>
                    <td>Tallo</td>
                    <td>Todo el mundo</td>
                </tr>
                <tr>
                    <th scope="row">Portulacaceae</th>
                    <td>Desconocida</td>
                    <td>Tallo y hojas</td>
                    <td>América</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--FOOTER -->
    <footer class="bd-footer py-5 mt-2 bg-light">
        <div class="container py-2">
            <div class="row">
                <div class="col-lg-2 mb-2">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" aria-label="Artemis 2022 &copy">
                        <img src="../assets/img/artemis-logo-bw.png" width="40" alt=""><span class="fs-5">Artemis 2022 &copy</span>
                    </a>
                </div>
            </div>
    </div>
    </footer>

    <!--CÓDIGO JS -->
<script src="../assets/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>