.card{
    margin:10px;
    padding: 10px;
}

.thumbnail { 
    position: relative; 
} 

.caption { 
    position: absolute; 
}

.card-group{
    margin: 5px;
    .comprar{
        text-align: center;
    }

    .card-footer{
        text-align: center;
    }
}

.pagination{
    justify-content:center;
}




