.card{
    margin:10px;
}

.thumbnail { 
    position: relative; 
} 

.caption { 
    position: absolute; 
}

.card-group{
    margin: 5px;
}

.pagination{
    justify-content:center;
}

.btn{
    padding: 5px 20px;
}

.comprar{
    text-align: center;

}
