footer{
    background-image: url(../img/footer-bacnkground.png);
    background-position: center center;
    background-size:cover;
    background-attachment:fixed;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
}

.redes-sociales{
    a{
        margin: 5px;
    }
}
.hashtag{
    display: flex;
    flex-direction: column;
}