footer{
    background-image: url(../img/footer-background.png);
    background-position: center center;
    background-size: cover;
    box-shadow: 5px 10px 20px;
}

.redes-sociales{
    a{
        margin: 5px;
    }
}
.hashtag{
    display: flex;
    flex-direction: column;
}