footer{
    background-image: url(../img/footer-bacnkground.png);
    background-position: center center;
    background-size:cover;
    background-attachment:fixed
}

.redes-sociales{
    a{
        margin: 5px;
    }
}
.hashtag{
    display: flex;
    flex-direction: column;
}