*{
    margin:0;
    padding:0;
}

:root{
    --color1: #30C9B3;
    --color2: #000000;
    --color3: #ffffff;
}

.navbar{
    margin-bottom: 30px;
    position: sticky;
    top:0;
    z-index: 100;
    font-weight: 450;
    text-transform: uppercase;
}

.nav-item a:hover{
    background-color: var(--color1);
    color: var(--color2);
    transition: 0.2s;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
}

h2{
    text-transform: uppercase;
}

.card-group{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
}

.card{
    margin:10px;

}

.thumbnail { 
    position: relative; 
} 

.caption { 
    position: absolute; 
}

h2{
    margin: 30px 0px;
}

.text{
    width: 100%;
    text-align: justify;
}

.redes-sociales a{
    margin: 5px;
    
}

.hashtag{
    display: flex;
    flex-direction: column;
}

footer{
    background-image: url(../img/footer-background.png);
    background-position: center center;
    background-size: cover;
}