/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.text {
  width: 100%;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .navbar {
    margin-bottom: 20px;
    font-weight: 450;
    text-transform: uppercase;
  }
  .nav-item a:hover {
    background-color: #30C9B3;
    color: #000000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .card-title {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 577px) {
  .navbar {
    margin-bottom: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    font-weight: 450;
    text-transform: uppercase;
  }
  .nav-item a:hover {
    background-color: #30C9B3;
    color: #000000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0px;
  font-weight: 900;
}

h2 {
  margin: 20px 0px;
  font-weight: 700;
}

h3 {
  margin: 15px 0px;
  font-weight: 500;
}

.boton-ver, .boton-comprar {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

footer {
  background-image: url(../img/footer-bacnkground.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
}

.redes-sociales a {
  margin: 5px;
}

.hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  margin: 10px;
  padding: 10px;
}

.tarjetas .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border-radius: 10px;
}

.card .card-body {
  margin: 5px;
}

.card .card-body img {
  border-radius: 10px;
}

.card .card-body img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .card-body .comprar {
  text-align: center;
}

.card .card-body .card-text {
  text-align: justify;
}

.card .card-footer {
  text-align: center;
}

.card .card-title {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  color: gray;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/404.jpg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
          box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 142px;
  }
  .notfound .notfound-404 h1 {
    font-size: 112px;
  }
}
/*# sourceMappingURL=styles.css.map */